#BasicStats{
	ul{
		margin:0;
		padding:0;
			
		li{
			color: white;
    float: left;
    width: 14%;
    text-align: center;
    margin: 1%;
    padding: 40px 0;
    font-weight: 400;		
			
		}
	}
}