
.widget {
    margin-bottom: 20px;
    color: #fff
}

.widget.widget-stats {
    position: relative
}

.widget-stats .stats-info h4 {
    font-size: 12px;
    margin: 5px 0;
    color: #fff
}

.widget-stats .stats-icon {
    font-size: 42px;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 56px;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: .2;
    filter: alpha(opacity=20)
}

.widget-stats .stats-info p {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0
}

.widget-stats .stats-link a {
    display: block;
    margin: 15px 0px 0px;
    padding: 7px 15px;
    background: rgba(0, 0, 0, .4);
    text-align: right;
    color: #ddd;
    font-weight: 300;
    text-decoration: none
}

.widget-stats .stats-link a:focus,
.widget-stats .stats-link a:hover {
    background: rgba(0, 0, 0, .6);
    color: #fff
}

.widget-stats .stats-icon.stats-icon-lg {
    font-size: 52px;
    top: 12px;
    right: 21px
}

.widget-stats .stats-title {
    position: relative;
    line-height: 1.1;
    font-size: 12px;
    margin: 2px 0 7px
}

.widget-stats .stats-desc,
.widget-stats .stats-title {
    color: #fff;
    color: rgba(255, 255, 255, .6)
}

.widget-stats .stats-desc {
    font-weight: 300;
    margin-bottom: 0
}

.widget-stats .stats-number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px
}

.widget-stats .stats-progress {
    background: rgba(0, 0, 0, .2);
    height: 2px;
    margin: 0 -15px 12px
}

.widget-stats .stats-progress .progress-bar {
    background: #fff
}
